In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('https://media.githubusercontent.com/media/metmuseum/openaccess/refs/heads/master/MetObjects.csv',low_memory=False)
gender_df = pd.read_csv('name_gender_dataset.csv',low_memory=False)

print(df.head(10))
print(df.columns)

  Object Number  Is Highlight  Is Timeline Work  Is Public Domain  Object ID  \
0    1979.486.1         False             False             False          1
1    1980.264.5         False             False             False          2
2      67.265.9         False             False             False          3
3     67.265.10         False             False             False          4
4     67.265.11         False             False             False          5
5     67.265.12         False             False             False          6
6     67.265.13         False             False             False          7
7     67.265.14         False             False             False          8
8     67.265.15         False             False             False          9
9    1979.486.3         False             False             False         10

  Gallery Number         Department AccessionYear Object Name  \
0            NaN  The American Wing          1979        Coin
1            NaN  The American Wing          1980        Coin
2            NaN  The American Wing          1967        Coin
3            NaN  The American Wing          1967        Coin
4            NaN  The American Wing          1967        Coin
5            NaN  The American Wing          1967        Coin
6            NaN  The American Wing          1967        Coin
7            NaN  The American Wing          1967        Coin
8            NaN  The American Wing          1967        Coin
9            NaN  The American Wing          1979        Coin

                                    Title  ... River Classification  \
0            One-dollar Liberty Head Coin  ...   NaN            NaN
1            Ten-dollar Liberty Head Coin  ...   NaN            NaN
2              Two-and-a-Half Dollar Coin  ...   NaN            NaN
3              Two-and-a-Half Dollar Coin  ...   NaN            NaN
4              Two-and-a-Half Dollar Coin  ...   NaN            NaN
5              Two-and-a-Half Dollar Coin  ...   NaN            NaN
6              Two-and-a-Half Dollar Coin  ...   NaN            NaN
7              Two-and-a-Half Dollar Coin  ...   NaN            NaN
8              Two-and-a-Half Dollar Coin  ...   NaN            NaN
9  Two-and-a-half-dollar Indian Head Coin  ...   NaN            NaN

  Rights and Reproduction                                      Link Resource  \
0                     NaN   http://www.metmuseum.org/art/collection/search/1
1                     NaN   http://www.metmuseum.org/art/collection/search/2
2                     NaN   http://www.metmuseum.org/art/collection/search/3
3                     NaN   http://www.metmuseum.org/art/collection/search/4
4                     NaN   http://www.metmuseum.org/art/collection/search/5
5                     NaN   http://www.metmuseum.org/art/collection/search/6
6                     NaN   http://www.metmuseum.org/art/collection/search/7
7                     NaN   http://www.metmuseum.org/art/collection/search/8
8                     NaN   http://www.metmuseum.org/art/collection/search/9
9                     NaN  http://www.metmuseum.org/art/collection/search/10

  Object Wikidata URL Metadata Date                                Repository  \
0                 NaN           NaN  Metropolitan Museum of Art, New York, NY
1                 NaN           NaN  Metropolitan Museum of Art, New York, NY
2                 NaN           NaN  Metropolitan Museum of Art, New York, NY
3                 NaN           NaN  Metropolitan Museum of Art, New York, NY
4                 NaN           NaN  Metropolitan Museum of Art, New York, NY
5                 NaN           NaN  Metropolitan Museum of Art, New York, NY
6                 NaN           NaN  Metropolitan Museum of Art, New York, NY
7                 NaN           NaN  Metropolitan Museum of Art, New York, NY
8                 NaN           NaN  Metropolitan Museum of Art, New York, NY
9                 NaN           NaN  Metropolitan Museum of Art, New York, NY

                  Tags                                       Tags AAT URL  \
0                  NaN                                                NaN
1                  NaN                                                NaN
2                  NaN                                                NaN
3                  NaN                                                NaN
4                  NaN                                                NaN
5                  NaN                                                NaN
6          Birds|Coins  http://vocab.getty.edu/page/aat/300266506|http...
7  Eagles|Men|Profiles  http://vocab.getty.edu/page/aat/300250049|http...
8                  NaN                                                NaN
9                  NaN                                                NaN

                                   Tags Wikidata URL
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6  https://www.wikidata.org/wiki/Q5113|https://ww...
7  https://www.wikidata.org/wiki/Q2092297|https:/...
8                                                NaN
9                                                NaN

[10 rows x 54 columns]
Index(['Object Number', 'Is Highlight', 'Is Timeline Work', 'Is Public Domain',
       'Object ID', 'Gallery Number', 'Department', 'AccessionYear',
       'Object Name', 'Title', 'Culture', 'Period', 'Dynasty', 'Reign',
       'Portfolio', 'Constituent ID', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Artist Gender', 'Artist ULAN URL',
       'Artist Wikidata URL', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Object Wikidata URL',
       'Metadata Date', 'Repository', 'Tags', 'Tags AAT URL',
       'Tags Wikidata URL'],
      dtype='object')

In [42]:
df_filtered = df.drop(['Tags AAT URL','Tags Wikidata URL', 'Link Resource', 
               'Is Highlight', 'Is Timeline Work', 'Is Public Domain', 'Culture', 'Period', 'Dynasty', 
               'Reign', 'Portfolio', 'Repository', 'Subregion', 'Locale', 'Locus', 'Excavation',
               'River', 'Classification', 'Rights and Reproduction', 'Object Wikidata URL',
               'Metadata Date', 'Object ID', 'Object Number', 'Constituent ID', 'Artist Role',
               'Artist Prefix', 'Artist Suffix', 'Artist End Date', 'Artist ULAN URL', 'Artist Wikidata URL'], axis=1)

print(df_filtered.head(10))
df_filtered.shape

  Gallery Number         Department AccessionYear Object Name  \
0            NaN  The American Wing          1979        Coin
1            NaN  The American Wing          1980        Coin
2            NaN  The American Wing          1967        Coin
3            NaN  The American Wing          1967        Coin
4            NaN  The American Wing          1967        Coin
5            NaN  The American Wing          1967        Coin
6            NaN  The American Wing          1967        Coin
7            NaN  The American Wing          1967        Coin
8            NaN  The American Wing          1967        Coin
9            NaN  The American Wing          1979        Coin

                                    Title    Artist Display Name  \
0            One-dollar Liberty Head Coin  James Barton Longacre
1            Ten-dollar Liberty Head Coin     Christian Gobrecht
2              Two-and-a-Half Dollar Coin                    NaN
3              Two-and-a-Half Dollar Coin                    NaN
4              Two-and-a-Half Dollar Coin                    NaN
5              Two-and-a-Half Dollar Coin                    NaN
6              Two-and-a-Half Dollar Coin                    NaN
7              Two-and-a-Half Dollar Coin                    NaN
8              Two-and-a-Half Dollar Coin                    NaN
9  Two-and-a-half-dollar Indian Head Coin        Bela Lyon Pratt

                                  Artist Display Bio       Artist Alpha Sort  \
0  American, Delaware County, Pennsylvania 1794–1...  Longacre, James Barton
1                                          1785–1844     Gobrecht, Christian
2                                                NaN                     NaN
3                                                NaN                     NaN
4                                                NaN                     NaN
5                                                NaN                     NaN
6                                                NaN                     NaN
7                                                NaN                     NaN
8                                                NaN                     NaN
9                                          1867–1917        Pratt, Bela Lyon

  Artist Nationality Artist Begin Date  ... Medium                Dimensions  \
0           American        1794        ...   Gold    Dimensions unavailable
1           American        1785        ...   Gold    Dimensions unavailable
2                NaN               NaN  ...   Gold  Diam. 11/16 in. (1.7 cm)
3                NaN               NaN  ...   Gold  Diam. 11/16 in. (1.7 cm)
4                NaN               NaN  ...   Gold  Diam. 11/16 in. (1.7 cm)
5                NaN               NaN  ...   Gold  Diam. 11/16 in. (1.7 cm)
6                NaN               NaN  ...   Gold  Diam. 11/16 in. (1.7 cm)
7                NaN               NaN  ...   Gold  Diam. 11/16 in. (1.7 cm)
8                NaN               NaN  ...   Gold  Diam. 11/16 in. (1.7 cm)
9           American        1867        ...   Gold    Dimensions unavailable

                          Credit Line  Geography Type City State County  \
0  Gift of Heinz L. Stoppelmann, 1979             NaN  NaN   NaN    NaN
1  Gift of Heinz L. Stoppelmann, 1980             NaN  NaN   NaN    NaN
2    Gift of C. Ruxton Love Jr., 1967             NaN  NaN   NaN    NaN
3    Gift of C. Ruxton Love Jr., 1967             NaN  NaN   NaN    NaN
4    Gift of C. Ruxton Love Jr., 1967             NaN  NaN   NaN    NaN
5    Gift of C. Ruxton Love Jr., 1967             NaN  NaN   NaN    NaN
6    Gift of C. Ruxton Love Jr., 1967             NaN  NaN   NaN    NaN
7    Gift of C. Ruxton Love Jr., 1967             NaN  NaN   NaN    NaN
8    Gift of C. Ruxton Love Jr., 1967             NaN  NaN   NaN    NaN
9  Gift of Heinz L. Stoppelmann, 1979             NaN  NaN   NaN    NaN

  Country Region                 Tags
0     NaN    NaN                  NaN
1     NaN    NaN                  NaN
2     NaN    NaN                  NaN
3     NaN    NaN                  NaN
4     NaN    NaN                  NaN
5     NaN    NaN                  NaN
6     NaN    NaN          Birds|Coins
7     NaN    NaN  Eagles|Men|Profiles
8     NaN    NaN                  NaN
9     NaN    NaN                  NaN

[10 rows x 24 columns]

(484956, 24)

In [43]:
df_filtered['Department'].value_counts()

Department
Drawings and Prints                          172630
European Sculpture and Decorative Arts        43051
Photographs                                   37459
Asian Art                                     37000
Greek and Roman Art                           33726
Costume Institute                             31652
Egyptian Art                                  27969
The American Wing                             18532
Islamic Art                                   15573
Modern and Contemporary Art                   14696
Arms and Armor                                13623
Arts of Africa, Oceania, and the Americas     12367
Medieval Art                                   7142
Ancient Near Eastern Art                       6223
Musical Instruments                            5227
European Paintings                             2626
Robert Lehman Collection                       2586
The Cloisters                                  2340
The Libraries                                   534
Name: count, dtype: int64

In [44]:
df_filtered = df_filtered[df_filtered['Department'] == 'Modern and Contemporary Art']

In [45]:
df_filtered[df_filtered['Tags'].str.contains("Female Nudes")==True].value_counts()

df_filtered[df_filtered['Tags'].str.contains("Male Nudes")==True]

,Gallery Number,Department,AccessionYear,Object Name,Title,Artist Display Name,Artist Display Bio,Artist Alpha Sort,Artist Nationality,Artist Begin Date,...,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Tags
322698,NaN,Modern and Contemporary Art,1970,Sculpture,Tête-à-Tête,John Henry Bradley Storrs,"American, Chicago, Illinois 1885–1956 Château ...","Storrs, John Henry Bradley",American,1885,...,Bronze,11 × 11 5/8 × 2 1/2 in. (27.9 × 29.5 × 6.4 cm)...,"Purchase, Edward C. Moore Jr. Gift and Rogers ...",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes|Female Nudes
323224,NaN,Modern and Contemporary Art,1976,Drawing,Seated Figure,Pablo Picasso,"Spanish, Malaga 1881–1973 Mougins, France","Picasso, Pablo",Spanish,1881,...,Ink and wax crayon on a paper card,5 1/4 x 3 5/8 in. (13.3 x 9.2 cm),"Bequest of Joan Whitney Payson, 1975",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes|Profiles
323238,NaN,Modern and Contemporary Art,1976,Wall hanging,Wall hanging,Marguerite Zorach|William Zorach,"American, Santa Rosa, California 1887–1968 New...","Zorach, Marguerite|Zorach, William","American|American, born Lithuania",1887 |1889,...,Silk batik,81 1/2 × 50 1/2 in. (207 × 128.3 cm),"Gift of Mrs. George Smolen, 1976",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes
323360,NaN,Modern and Contemporary Art,1977,Painting,Parnassus,Bob Thompson,"American, Louisville, Kentucky 1937–1966 Rome,...","Thompson, Bob",American,1937,...,Oil and graphite on canvas,20 × 26 in. (50.8 × 66 cm),"Gift of Dr. and Mrs. Irwin R. Berman, 1977",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes|Female Nudes
323543,NaN,Modern and Contemporary Art,1978,Drawing,Untitled (male nude study),John Haley,"American, 1905–1991","Haley, John",American,1905,...,Charcoal on paper,24 1/4 × 18 in. (61.6 × 45.7 cm),"Gift of the artist, 1978",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374320,NaN,Modern and Contemporary Art,2014,Photograph,AutoPolaroid,Lucas Samaras,"American (born Greece), Kastoria, 1936","Samaras, Lucas","American, born Greece",1936,...,Instant color print with hand-applied ink,3 3/4 × 2 7/8 in. (9.5 × 7.3 cm),"Gift of the artist, 2014",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes
374323,NaN,Modern and Contemporary Art,2014,Photograph,Conflict 22,Lucas Samaras,"American (born Greece), Kastoria, 1936","Samaras, Lucas","American, born Greece",1936,...,Pigment inkjet print on paper,Sheet: 17 × 17 in. (43.2 × 43.2 cm)\r\nImage: ...,"Gift of the artist, 2014",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes|Forests
377546,NaN,Modern and Contemporary Art,2014,Drawing,Study for Hercules and the Amazons,Russell B. Aitken,"American, Cleveland, Ohio 1910–2002 Newport, R...",Aitken Russell B.,American,1910,...,Gouache on paperboard,12 x 16 in. (30.5 cm x 40.6 cm) (approximate),"Gift of Irene Roosevelt Aitken, 2014",NaN,NaN,NaN,NaN,NaN,NaN,Hercules|Amazons|Horses|Male Nudes|Female Nudes
383990,NaN,Modern and Contemporary Art,2014,Drawing,Minnie and Her Friends,Georgia Speller,"American, Aberdeen, Mississippi 1931–1988 Memp...","Speller, Georgia",American,1931,...,Tempera and graphite on paper,17 3/4 × 23 3/4 in. (45.1 × 60.3 cm),Gift of Souls Grown Deep Foundation from the W...,NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes|Female Nudes
478010,NaN,Modern and Contemporary Art,2021,Painting,The Bather,Thomas Hart Benton,"American, Neosho, Missouri 1889–1975 Kansas Ci...","Benton, Thomas Hart",American,1889,...,Oil on canvas,29 3/4 × 27 3/4 in. (75.6 × 70.5 cm),"Gift of Anonymous, 2021",NaN,NaN,NaN,NaN,NaN,NaN,Male Nudes

In [46]:
female_nudes = len(df_filtered[df_filtered['Tags'].str.contains("Female Nudes")==True])
male_nudes = len(df_filtered[df_filtered['Tags'].str.contains("Male Nudes")==True])
total_nudes = female_nudes + male_nudes

print("female_nudes : " + "%.2f" % (female_nudes/total_nudes * 100) + "%"
      + ", male_nudes : " + "%.2f" % (male_nudes/total_nudes * 100) + "%")


print("female_nudes : " + "%.2f" % (female_nudes)
      + ", male_nudes : " + "%.2f" % (male_nudes))

female_nudes : 84.67%, male_nudes : 15.33%
female_nudes : 442.00, male_nudes : 80.00

In [47]:
df_filtered['Tags'].value_counts()

Tags
Abstraction                   1469
Flowers                        643
Female Nudes                   270
Men|Portraits                  228
Men                            185
                              ...
Portraits|Women|Sunflowers       1
Men|Portraits|Working            1
Ponds|Abstraction                1
Hats|Faces                       1
Men|Pipes|Portraits              1
Name: count, Length: 2021, dtype: int64

In [48]:
df_filtered['Artist Display Name'].value_counts()

#Artist First Name 
df_filtered['Artist Name Split']=(df_filtered['Artist Display Name'].str.split(' '))
df_filtered['Artist First Name']=np.where(df_filtered['Artist Name Split'].isnull() | len(df_filtered['Artist Name Split']) == 0, '', df_filtered['Artist Name Split'].str[0])
df_filtered = df_filtered.drop(['Artist Name Split'], axis=1)
df_filtered

,Gallery Number,Department,AccessionYear,Object Name,Title,Artist Display Name,Artist Display Bio,Artist Alpha Sort,Artist Nationality,Artist Begin Date,...,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Tags,Artist First Name
8710,774,Modern and Contemporary Art,1976,Vase,Vase,George E. Ohr|Biloxi Art Pottery,"American, Biloxi, Mississippi 1857–1918 Bilox...","Ohr, George E.|Biloxi Art Pottery",American|,1857 |1883,...,H. 4 1/4 in. (10.8 cm); Diam. 5 3/4 in. (14.6 cm),"Purchase, Virginia H. Groomes Gift, in memory ...",Made in,Biloxi,NaN,Mississippi,United States,South United States,NaN,George
87696,NaN,Modern and Contemporary Art,1986,Painting,Berthe David-Weill,Salvador Dalí,"Spanish, Figueres 1904–1989 Figueres","Dalí, Salvador",Spanish,1904,...,40 x 24 in. (101.6 x 61 cm),"Bequest of Berthe David-Weill, 1986",NaN,NaN,NaN,NaN,NaN,NaN,Portraits|Women,Salvador
117750,NaN,Modern and Contemporary Art,1991,Chess set and board,Chess Set,Josef Hartwig|Heinz Nösselt,"German, Munich 1880–1955 Frankfurt|German, act...","Hartwig, Josef|Nösselt, Heinz",German|German,1880 |1919,...,King: 2 1/4 in. (5.7 cm); Pawn: 1 3/16 in. (3...,"Pfeiffer Fund, 1991",Made in,Weimar,NaN,NaN,Germany,NaN,Chess|Games,Josef
118569,NaN,Modern and Contemporary Art,NaN,"Lamp, Floor (one of a pair)",Floor Lamp,NaN,NaN,NaN,NaN,NaN,...,NaN,"The Lesley and Emma Sheafer Collection, Beques...",Made in,NaN,NaN,NaN,United States,NaN,NaN,NaN
118570,NaN,Modern and Contemporary Art,NaN,"Lamp, Floor (one of a pair)",Floor Lamp,NaN,NaN,NaN,NaN,NaN,...,NaN,"The Lesley and Emma Sheafer Collection, Beques...",Made in,NaN,NaN,NaN,United States,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483260,NaN,Modern and Contemporary Art,2022,Drawing,Tad,Elizabeth Peyton,"American, born Danbury, Connecticut, 1965","Peyton, Elizabeth",American,1965,...,16 1/8 × 12 1/8 in. (41 × 30.8 cm),"Gift of Dodie Kazanjian and Calvin Tomkins, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth
483283,NaN,Modern and Contemporary Art,2022,Painting,Hotel in Lecce,Louis Fratino,"American, born Annapolis, Maryland, 1993","Fratino, Louis",American,1993,...,40 × 30 in. (101.6 × 76.2 cm),"Anonymous Gift, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Louis
483774,NaN,Modern and Contemporary Art,2023,Painting,End of the Day,Matthew Wong,"Canadian, Toronto 1984–2019 Edmonton","Wong, Matthew",Canadian,1984,...,80 in. × 70 1/8 in. × 1 7/8 in. (203.2 × 178.1...,Gift of Monita and Raymond Wong in memory of t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matthew
483795,NaN,Modern and Contemporary Art,2023,Painting,Blue Cryptobiosis #10,Christine Ay Tjoe,"Indonesian, born Bandung, 1973","Ay Tjoe, Christine",Indonesian,1973,...,Diptych (each panel): 78 7/8 × 67 1/8 × 1 5/8 ...,"Gift of Jonathan Cheung, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Christine
484016,NaN,Modern and Contemporary Art,2023,Collage,Story,Minjung Kim,"South Korean, born Gwangju 1962","Kim, Minjung",South Korean,1962,...,53 15/16 × 81 1/8 in. (137 × 206 cm),"Gift of the Artist, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minjung

In [49]:
gender_df = gender_df.drop_duplicates(subset=['Name'])
gender_df

           Name Gender    Count   Probability
0         James      M  5304407  1.451679e-02
1          John      M  5260831  1.439753e-02
2        Robert      M  4970386  1.360266e-02
3       Michael      M  4579950  1.253414e-02
4       William      M  4226608  1.156713e-02
...         ...    ...      ...           ...
147264   Zylenn      M        1  2.736740e-09
147265   Zymeon      M        1  2.736740e-09
147266   Zyndel      M        1  2.736740e-09
147267   Zyshan      M        1  2.736740e-09
147268    Zyton      M        1  2.736740e-09

[133910 rows x 4 columns]

In [50]:
df_gendered = df_filtered.merge(gender_df, left_on='Artist First Name',right_on='Name', how='left')
df_gendered

,Gallery Number,Department,AccessionYear,Object Name,Title,Artist Display Name,Artist Display Bio,Artist Alpha Sort,Artist Nationality,Artist Begin Date,...,State,County,Country,Region,Tags,Artist First Name,Name,Gender,Count,Probability
0,774,Modern and Contemporary Art,1976,Vase,Vase,George E. Ohr|Biloxi Art Pottery,"American, Biloxi, Mississippi 1857–1918 Bilox...","Ohr, George E.|Biloxi Art Pottery",American|,1857 |1883,...,NaN,Mississippi,United States,South United States,NaN,George,George,M,1495736.0,0.004093
1,NaN,Modern and Contemporary Art,1986,Painting,Berthe David-Weill,Salvador Dalí,"Spanish, Figueres 1904–1989 Figueres","Dalí, Salvador",Spanish,1904,...,NaN,NaN,NaN,NaN,Portraits|Women,Salvador,Salvador,M,48277.0,0.000132
2,NaN,Modern and Contemporary Art,1991,Chess set and board,Chess Set,Josef Hartwig|Heinz Nösselt,"German, Munich 1880–1955 Frankfurt|German, act...","Hartwig, Josef|Nösselt, Heinz",German|German,1880 |1919,...,NaN,NaN,Germany,NaN,Chess|Games,Josef,Josef,M,9343.0,0.000026
3,NaN,Modern and Contemporary Art,NaN,"Lamp, Floor (one of a pair)",Floor Lamp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Modern and Contemporary Art,NaN,"Lamp, Floor (one of a pair)",Floor Lamp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14691,NaN,Modern and Contemporary Art,2022,Drawing,Tad,Elizabeth Peyton,"American, born Danbury, Connecticut, 1965","Peyton, Elizabeth",American,1965,...,NaN,NaN,NaN,NaN,NaN,Elizabeth,Elizabeth,F,1704140.0,0.004664
14692,NaN,Modern and Contemporary Art,2022,Painting,Hotel in Lecce,Louis Fratino,"American, born Annapolis, Maryland, 1993","Fratino, Louis",American,1993,...,NaN,NaN,NaN,NaN,NaN,Louis,Louis,M,402583.0,0.001102
14693,NaN,Modern and Contemporary Art,2023,Painting,End of the Day,Matthew Wong,"Canadian, Toronto 1984–2019 Edmonton","Wong, Matthew",Canadian,1984,...,NaN,NaN,NaN,NaN,NaN,Matthew,Matthew,M,1738699.0,0.004758
14694,NaN,Modern and Contemporary Art,2023,Painting,Blue Cryptobiosis #10,Christine Ay Tjoe,"Indonesian, born Bandung, 1973","Ay Tjoe, Christine",Indonesian,1973,...,NaN,NaN,NaN,NaN,NaN,Christine,Christine,F,618510.0,0.001693
14695,NaN,Modern and Contemporary Art,2023,Collage,Story,Minjung Kim,"South Korean, born Gwangju 1962","Kim, Minjung",South Korean,1962,...,NaN,NaN,NaN,NaN,NaN,Minjung,NaN,NaN,NaN,NaN

In [51]:
df_gendered = df_gendered.drop(['Artist First Name', 'Name', 'Count', 'Probability'], axis=1)
df_gendered

,Gallery Number,Department,AccessionYear,Object Name,Title,Artist Display Name,Artist Display Bio,Artist Alpha Sort,Artist Nationality,Artist Begin Date,...,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Tags,Gender
0,774,Modern and Contemporary Art,1976,Vase,Vase,George E. Ohr|Biloxi Art Pottery,"American, Biloxi, Mississippi 1857–1918 Bilox...","Ohr, George E.|Biloxi Art Pottery",American|,1857 |1883,...,H. 4 1/4 in. (10.8 cm); Diam. 5 3/4 in. (14.6 cm),"Purchase, Virginia H. Groomes Gift, in memory ...",Made in,Biloxi,NaN,Mississippi,United States,South United States,NaN,M
1,NaN,Modern and Contemporary Art,1986,Painting,Berthe David-Weill,Salvador Dalí,"Spanish, Figueres 1904–1989 Figueres","Dalí, Salvador",Spanish,1904,...,40 x 24 in. (101.6 x 61 cm),"Bequest of Berthe David-Weill, 1986",NaN,NaN,NaN,NaN,NaN,NaN,Portraits|Women,M
2,NaN,Modern and Contemporary Art,1991,Chess set and board,Chess Set,Josef Hartwig|Heinz Nösselt,"German, Munich 1880–1955 Frankfurt|German, act...","Hartwig, Josef|Nösselt, Heinz",German|German,1880 |1919,...,King: 2 1/4 in. (5.7 cm); Pawn: 1 3/16 in. (3...,"Pfeiffer Fund, 1991",Made in,Weimar,NaN,NaN,Germany,NaN,Chess|Games,M
3,NaN,Modern and Contemporary Art,NaN,"Lamp, Floor (one of a pair)",Floor Lamp,NaN,NaN,NaN,NaN,NaN,...,NaN,"The Lesley and Emma Sheafer Collection, Beques...",Made in,NaN,NaN,NaN,United States,NaN,NaN,NaN
4,NaN,Modern and Contemporary Art,NaN,"Lamp, Floor (one of a pair)",Floor Lamp,NaN,NaN,NaN,NaN,NaN,...,NaN,"The Lesley and Emma Sheafer Collection, Beques...",Made in,NaN,NaN,NaN,United States,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14691,NaN,Modern and Contemporary Art,2022,Drawing,Tad,Elizabeth Peyton,"American, born Danbury, Connecticut, 1965","Peyton, Elizabeth",American,1965,...,16 1/8 × 12 1/8 in. (41 × 30.8 cm),"Gift of Dodie Kazanjian and Calvin Tomkins, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
14692,NaN,Modern and Contemporary Art,2022,Painting,Hotel in Lecce,Louis Fratino,"American, born Annapolis, Maryland, 1993","Fratino, Louis",American,1993,...,40 × 30 in. (101.6 × 76.2 cm),"Anonymous Gift, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
14693,NaN,Modern and Contemporary Art,2023,Painting,End of the Day,Matthew Wong,"Canadian, Toronto 1984–2019 Edmonton","Wong, Matthew",Canadian,1984,...,80 in. × 70 1/8 in. × 1 7/8 in. (203.2 × 178.1...,Gift of Monita and Raymond Wong in memory of t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
14694,NaN,Modern and Contemporary Art,2023,Painting,Blue Cryptobiosis #10,Christine Ay Tjoe,"Indonesian, born Bandung, 1973","Ay Tjoe, Christine",Indonesian,1973,...,Diptych (each panel): 78 7/8 × 67 1/8 × 1 5/8 ...,"Gift of Jonathan Cheung, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
14695,NaN,Modern and Contemporary Art,2023,Collage,Story,Minjung Kim,"South Korean, born Gwangju 1962","Kim, Minjung",South Korean,1962,...,53 15/16 × 81 1/8 in. (137 × 206 cm),"Gift of the Artist, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_gendered['Gender'] = df_gendered['Gender'].fillna('Unknown')
df_gendered['Gender'].value_counts(dropna=False)

Gender
M          10430
F           2612
Unknown     1654
Name: count, dtype: int64

In [53]:
df_exposed = df_gendered
df_exposed['Gender'].value_counts(dropna=False)

Gender
M          10430
F           2612
Unknown     1654
Name: count, dtype: int64

In [54]:
df_exposed['AccessionYear'].astype('str').min()

df_exposed['BeforeOrAfter1985'] = pd.cut(df_exposed['AccessionYear'].astype('str'), ['1900', '1985', '2025'], 3, labels=["Before 1985", "After 1985"])

df_exposed.groupby('BeforeOrAfter1985',observed=True)['Gender'].value_counts()

BeforeOrAfter1985  Gender
Before 1985        M          5641
                   F          1367
                   Unknown     834
After 1985         M          4654
                   F          1232
                   Unknown     798
Name: count, dtype: int64

In [55]:
df_gendered['Exposed'] = df_gendered['Gallery Number'].notnull()
df_exposed.groupby(['Gender', 'BeforeOrAfter1985'],observed=True)['Exposed'].value_counts().reset_index().to_csv('met-artwork-gendered.csv')

In [56]:
df_gendered.groupby(['AccessionYear','Gender'])['Exposed'].value_counts().reset_index().to_csv('met-artworks-per-accession-year.csv')